ex11/Web Application1Client/src/conf/xml-resources/web-service-references/sample/wsdl/localhost_8080/WebApplication1/sample.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://harish/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://harish/">

<xs:element name="read" type="tns:read"/>

<xs:element name="readResponse" type="tns:readResponse"/>

<xs:complexType name="read">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>